<div class="container mt-5">
    <div class="card">
      <div class="card-header">
        <h4>Blog Create
          <a routerLink="/blogslist" class="btn btn-danger float-end">Back</a>
        </h4>
      </div>
      <div class="card-body">
        <form (ngSubmit)="saveblog()">
          <div class="mb-3">
            <label>Title</label>
            <input type="text" [(ngModel)]="name" name="name" class="form-control" />
            <span *ngIf="errors.name" class="text-danger">{{errors.name}}</span>
          </div>
          <div class="mb-3">
            <label>Description</label>
            <input type="text" [(ngModel)]="description" name="description" class="form-control" />
            <span *ngIf="errors.description" class="text-danger">{{errors.description}}</span>
          </div>
          <div class="mb-3">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  