
<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to My Blog</h1>
    <p class="lead">Exploring the world of technology, creativity, and more.</p>
  </div>
  
  <div class="container mt-5">
    <h2 class="mb-4">Featured Posts</h2>
    <div class="row">
      <!-- Featured Post 1 -->
      <div class="col-md-4 mb-4">
        <div class="card" ngbPopover="Hover to read more">
          <img src="../../../assets/technology.png" class="card-img-top" alt="technology Image" />
          <div class="card-body">
            <h5 class="card-title">Technology</h5>
            <p class="card-text">Technology is the application of scientific knowledge for practical purposes, driving innovation and shaping the modern world.</p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
  
      <!-- Featured Post 2 -->
      <div class="col-md-4 mb-4">
        <div class="card" ngbPopover="Hover to read more">
          <img src="../../../assets/world affair.jpg" class="card-img-top" alt="World affair image" />
          <div class="card-body">
            <h5 class="card-title">World Affair</h5>
            <p class="card-text">World affairs encompass global events, diplomatic relations, and geopolitical developments, shaping the interactions and dynamics between nations.</p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
  
      <!-- Featured Post 3 -->
      <div class="col-md-4 mb-4">
        <div class="card" ngbPopover="Hover to read more">
          <img src="../../../assets/world tour.jpg" class="card-img-top" alt="Wold tour image" />
          <div class="card-body">
            <h5 class="card-title">World Tour</h5>
            <p class="card-text">World tour is a journey that spans various countries and cultures, providing diverse experiences and perspectives across the globe.</p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  