<!-- <form class="d-flex" role="search"> -->
    <!-- <input
      class="form-control me-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
      [(ngModel)]="searchTerm"
    /> -->
    <!-- <input type="text"> -->

    <input type="text" [(ngModel)]="enteredSearchValue" placeholder="Search..." (input)="onSearchTextChanged(enteredSearchValue)">

    <!-- <button (click)="search()">Search</button> -->
    <!-- <button class="btn btn-outline-success" type="button" (click)="search()">Search</button> -->
  <!-- </form> -->
  
  <!-- <div *ngFor="let blog of blogs">
    <div>
      <h3>{{ blog.name }}</h3>
      <p>{{ blog.description }}</p>
      
    </div>
  </div> -->
  